{% extends 'base.html.twig' %}

{% block title %} Produkt anlegen{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <h3>Produkt anlegen</h3>
        <br>
        {{ form(createProduct) }}
    </div>
{% endblock %}
