{% extends 'base.html.twig' %}

{% block title %} Produktübersicht {% endblock %}

{% block body %}
    <div class="container py-3">
        <h1>Produkt bearbeiten</h1>

        <br>
    </div>
{% endblock %}
